body {
  text-align: center;
  font-family: sans-serif;
}
#clockdiv {
  display: inline-block;
  color: white;
}
#clockdiv > div {
  display: inline-block;
  background-color: green;
  border-radius: 4px;
  padding: 10px;
}
#clockdiv > div > span {
  display: inline-block;
  background-color: black;
  padding: 15px;
  font-size: 18px;
}
.clock-label {
  padding-top: 10px;
}
